<!DOCTYPE html>
<html>
<head>
    <!-- Add the Plotly.js library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <!-- Add a div to render the chart -->
    <div id="chart"></div>

    <script>
        // Pass the fig data from Flask to JavaScript
        var figData = {{ fig.to_json()|safe }};
        
        // Render the chart using Plotly.js
        Plotly.newPlot('chart', figData.data, figData.layout);
    </script>
</body>
</html>
